* {
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.in-card {
    display: block;
    width: 20vw;
    margin: 200px auto;
    padding: 10px;
    /* background-color: rgb(36, 36, 36); */
    border: 3px outset gray;

    /* border: 1px solid black; */
    box-shadow: 20px 20px 50px 15px grey;
    /* background-color: blue; */
}

#inmail, #inpass, #fp {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 2vw;
    padding: 5px;
}

label {
    display: block;
    width: 80%;
    /* background-color: yellow; */
    font-family: sans-serif;
    margin: 10px auto;
}

#submit {
    display: inherit;
    width: 30%;
    height: 2vw;
    margin: 25px auto;
}