* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}



:root {
    --dark: #303030;
}

.container {
    display: inline-block;
    background-color: var(--dark);
    width: 100%;
    position: fixed;
    top: 0;
    overflow: auto;
}



li {
    display: inline-block;
    padding: 7px 13px;
    margin: 10px 20px;
    /* margin-bottom: 8px; */
    /* background-color: red; */
}

a {
    text-decoration: none;
    color: white;
}

.sign-in, .sign-up {
    float: right;
    margin-top: 11px;
    margin-right: 13vw;
}

.menu {
    display: inherit;
}

.ham {
    padding: 1px 10px;
    background-color: white;
    margin: 3px 0;
}

.home {
    margin-left: 13vw;
    float: left;
}

.logo {
    display: inherit;
    /* background-color: red; */
    color: red;
    margin: 0 25vw;
    float: left;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    padding: 0;
}

.home:hover, .sign-in:hover, .sign-up:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.big-container {
    display: block;
    float: left;
    width: auto;
    margin: 75px 0 5px 13vw;
    /* background-color: blue; */

}

.trailer-big {
    display: inherit;

}

.small-container {
    display: block;
    float: right;
    width: auto;
    /* background-color: red; */
    height: 600px;
    overflow: scroll;

    margin: 75px 13vw 5px 0;
    /* background-color: red; */
    background-color: #141414;


}

.small-container::-webkit-scrollbar {
    display: none;
}

.trailer-small {

    display: inherit;
    margin: 10px 10px ;

}