* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --dark: #303030;
}

.container {
    display: inline-block;
    background-color: var(--dark);
    width: 100%;
}

li {
    display: inline-block;
    padding: 7px 13px;
    margin: 10px 20px;
    /* margin-bottom: 8px; */
    /* background-color: red; */
}

a {
    text-decoration: none;
    color: white;
}

.sign-in, .sign-up {
    float: right;
    margin-top: 11px;
}

.menu {
    display: inherit;
}

div {
    padding: 1px 10px;
    background-color: white;
    margin: 3px 0;
}

.home {
    margin-left: 20px;
}

.home:hover, .sign-in:hover, .sign-up:hover {
    background-color: rgb(68, 68, 68);
}