body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: teal;
    width: 100%;
    height: auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-left: 2vw;
    font-size: 1.1em;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo {
    margin-right: auto;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.2em;

}

/* .logo > div {
    flex: 1;
} */

.sign-in {
    margin-right: 3vw;
    font-size: 1.1em;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sign-up {
    margin-right: 2vw;
    font-size: 1.1em;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu:hover {
    background-color:#008f8f ;
}

.sign-in:hover {
    background-color:#008f8f ;
}

.sign-up:hover {
    background-color:#008f8f ;
}
