body {
    margin: 0;
}

.top-bar {
    background-color: lightblue;
    height: 7vh;
    overflow: hidden;
    
}

#logo {
    display: inline-block;
    font-family: 'Pacifico', cursive;
    font-size: 1.7em;
    margin-left: 1vw;
    margin-right: 80vw;
    margin-top: .5vh;
    overflow: hidden;
    
}

#sign-in {
    display: inline-block;
    font-size: 1.2em;
    overflow: hidden;
    margin-bottom: 1.5vh ;
    margin-right: 2vw;
    border: 1px solid wheat;
    padding: .5em;
}

#sign-up {
    display: inline-block;
    font-size: 1.2em;
    overflow: hidden;
    margin-bottom: 1.5vh;
}